@model IEnumerable<GRP7_GestionEcole.Models.ENTITIES.Cahierdetexte>

@{
    ViewData["Title"] = "Index";
}

<h1>Ajouter Cahier de texte</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomProf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomCours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeureCours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomProf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomCours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeureCours)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDCahierdeTexte">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDCahierdeTexte">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDCahierdeTexte">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
